{% extends 'articles/base.html' %}

{% block content %}
<h1>Будь в курсе событий</h1>
<div class="news-list">
  {% for article in articles %}
    <div class="news-item">
      <h2>{{ article.title }}</h2>
      {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.title }}">
      {% endif %}
      <p>{{ article.content }}</p>
      <p><small>Опубликовано: {{ article.published_at }}</small></p>
      <p>
          {% for category in article.categories.all %}
          <span>{{ category.name }}</span>
        {% endfor %}
      </p>
      <p>
         {% for scope in article.scopes.all %}
          <span class="badge {% if scope.is_main %}badge-primary{% else %}badge-secondary{% endif %}">{{ scope.tag.name }}</span>
        {% endfor %}
      </p>
    </div>
  {% endfor %}
</div>
{% endblock %}

